
<html xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="font-size: 17px">
        
    </nav>

    <header>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active"
                     style="background-image: url('https://i.ytimg.com/vi/KKdlv807kHM/maxresdefault.jpg')">
                    <div class="carousel-caption">
                        <h5></h5>
                        <p></p>
                    </div>
                </div>
                <div class="carousel-item"
                     style="background-image: url('https://storage.googleapis.com/ops-shopee-files-live/live/shopee-blog/2022/05/98e313be-nuoc-hoa-mua-he-cho-nam.jpg')">
                    <div class="carousel-caption">
                       <h5></h5>
                        <p></p>
                    </div>
                </div>
                <div class="carousel-item"
                     style="background-image: url('https://luxshopping.vn/Uploads/UserFiles/images/Tin%20tuc%20-%20kinh%20nghiem/rolex_daytona_render_wallpaper_blck_edition.png')">
                    <div class="carousel-caption">
                        <h5></h5>
                        <p></p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </header>

