<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">

<head>
<meta charset="UTF-8">
<title>HOME</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="stylesheet" type="text/css"
	th:href="@{|/assets/css/shopping-cart-app.css|}">
<link rel="stylesheet" type="text/css"
	th:href="@{|/assets/css/style_menu.css|}">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<!-- Latest compiled JavaScript -->


<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<!--===============================================================================================-->
<link rel="icon" type="image/png"
	th:href="@{|/assets/images/icons/favicon.png|}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{|/assets/vendor/bootstrap/css/bootstrap.min.css|}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{|/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css|}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{|/assets/fonts/iconic/css/material-design-iconic-font.min.css|}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{|/assets/fonts/linearicons-v1.0.0/icon-font.min.css|}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{|/assets/vendor/animate/animate.css|}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{|/assets/vendor/css-hamburgers/hamburgers.min.css|}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{|/assets/vendor/animsition/css/animsition.min.css|}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{|/assets/vendor/select2/select2.min.css|}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{|/assets/vendor/daterangepicker/daterangepicker.css|}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{|/assets/vendor/slick/slick.css|}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{|/assets/vendor/MagnificPopup/magnific-popup.css|}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{|/assets/vendor/perfect-scrollbar/perfect-scrollbar.css|}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{|/assets/css/util.css|}">
<link rel="stylesheet" type="text/css"
	th:href="@{|/assets/css/main.css|}">
<!--===============================================================================================-->
</head>
<body class="container" ng-app="shopping-cart-app"
	ng-controller="shopping-cart-ctrl">

	<div th:replace="/layout/header.html"></div>
	<div th:replace="/layout/banner.html"></div>





	<div th:replace="${main}"></div>

	<footer class="">
		<div th:replace="/layout/_footer.html" class="w-100"></div>
	</footer>
	<!--===============================================================================================-->
	<script src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/assets/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="/assets/vendor/bootstrap/js/popper.js"></script>
	<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/assets/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function() {
			$(this).select2({
				minimumResultsForSearch : 20,
				dropdownParent : $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="/assets/vendor/daterangepicker/moment.min.js"></script>
	<script src="/assets/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="/assets/vendor/slick/slick.min.js"></script>
	<script src="/assets/js/slick-custom.js"></script>
	<!--===============================================================================================-->
	<script src="/assets/vendor/parallax100/parallax100.js"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script src="/assets/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
				delegate : 'a', // the selector for gallery item
				type : 'image',
				gallery : {
					enabled : true
				},
				mainClass : 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="/assets/vendor/isotope/isotope.pkgd.min.js"></script>
	<!--===============================================================================================-->
	<script src="/assets/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e) {
			e.preventDefault();
		});

		$('.js-addwish-b2').each(
				function() {
					var nameProduct = $(this).parent().parent().find(
							'.js-name-b2').html();
					$(this).on('click', function() {
						swal(nameProduct, "is added to wishlist !", "success");

						$(this).addClass('js-addedwish-b2');
						$(this).off('click');
					});
				});

		$('.js-addwish-detail').each(
				function() {
					var nameProduct = $(this).parent().parent().parent().find(
							'.js-name-detail').html();

					$(this).on('click', function() {
						swal(nameProduct, "is added to wishlist !", "success");

						$(this).addClass('js-addedwish-detail');
						$(this).off('click');
					});
				});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(
				function() {
					var nameProduct = $(this).parent().parent().parent()
							.parent().find('.js-name-detail').html();
					$(this).on('click', function() {
						swal(nameProduct, "is added to cart !", "success");
					});
				});
	</script>
	<!--===============================================================================================-->
	<script src="/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function() {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed : 1,
				scrollingThreshold : 1000,
				wheelPropagation : false,
			});

			$(window).on('resize', function() {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="/assets/js/main.js"></script>
	<script src="/assets/js/shopping-cart-app.js"></script>

</body>
</html>